services:
  httpstatus:
    image: node:22.12.0-alpine3.20
    environment:
      - NODE_OPTIONS=--experimental-default-type=module --experimental-strip-types --no-warnings
      - PORT=80
    volumes: [.:/example]
    command: example/server/http_status.ts

  end-to-end-tests:
    image: dintero/docker-cucumber
    volumes: [.:/usr/src/app/]
    depends_on: [httpstatus]
    command: --require ./test_features.ts features
